<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="index2.css" /> -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css\superAdminStyleSheet\SchoolRegisterForm.css" / > <link
    rel="stylesheet" href="css\superAdminStyleSheet\SuperAdminDashBoard.css" / > <link
    rel="stylesheet" href="css\superAdminStyleSheet\NavBar.css" / >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <div class="logo">Coordinator</div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

    <div class="content"></div>

    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">Coordinator</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#!/coordinatorDashboard">
            <i class="fa-solid fa-school"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>

        <li>
          <a ui-sref="Coordinator.students">
            <i class="fa-solid fa-graduation-cap"></i>
            <span class="links_name">Students</span>
          </a>
          <span class="tooltip">Students</span>
        </li>

        
        <li>
          <a ui-sref="Coordinator.examschedule">
            <i class="fa-sharp fa-solid fa-note-sticky"></i>
            
            <span class="links_name">Exam</span>
          </a>
          <span class="tooltip">Exam</span>
        </li>

               
        <li>
          <a ui-sref="Coordinator.sendNotifications">
           <i class="fa-solid fa-envelope"></i>
            
            <span class="links_name">Notifications</span>
          </a>
          <span class="tooltip">Notifications</span>
        </li>
   
      </ul>
    </div>

    <ui-view
    ng-show="currentRoute === 'Coordinator.students'"
  ></ui-view>

  <ui-view
  ng-show="currentRoute === 'Coordinator.examschedule'"
></ui-view>

  <ui-view
  ng-show="currentRoute === 'Coordinator.sendNotifications'"
></ui-view>


    <section class="home-section" 
     ng-hide="currentRoute === 'Coordinator.students' || currentRoute === 'Coordinator.examschedule'|| currentRoute ==='Coordinator.sendNotifications'">
      <div class="text">Please Register Your School Student Details!</div>

      <div class="wrapper">
        <div class="r_form_wrap">
          <div class="r_form">

            <form>

              <div class="input_wrap">
                <label for="yourname">Enter Student's Name</label>
                <div class="input_item">
                  <span class="icon">
                    <i class="fa-solid fa-school"></i>
                  </span>
                  <input
                    type="text"
                    name="your name"
                    class="input"
                    id="yourname"
                    ng-model="name"
                    required
                  />
                </div>
              </div>

              <div class="input_wrap">
                <label for="emailaddress">Enter Student's Username</label>
                <div class="input_item">
                  <span class="icon">
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <input
                    type="text"
                    name="email address"
                    class="input"
                    id="emailaddress"
                    ng-model="username"
                    required
                  />
                </div>
              </div>

              <div class="input_wrap">
                <label for="password">Enter Student's Password</label>
                <div class="input_item">
                  <span class="icon">
                    <!-- <ion-icon name="key-sharp"></ion-icon> -->
                    <i class="fa-solid fa-lock"></i>
                  </span>
                  <input
                    type="password"
                    name="password"
                    class="input"
                    id="password"
                    ng-model="password"
                    required
                  />
                </div>
              </div>

              <div class="input_wrap">
                <label for="password">Enter Student's class</label>
                <div class="input_item">
                  <span class="icon">
                    <!-- <ion-icon name="key-sharp"></ion-icon> -->
                    <i class="fa-solid fa-school"></i>
                  </span>
                  <input
                  type="text"
                  name="email address"
                  class="input"
                  id="emailaddress"
                  ng-model="class"
                  required
                />
                </div>
              </div>

              <div class="input_wrap">
                <label for="password">Enter Student's Gender</label>
                <div class="input_item">
                  <span class="icon">
                    <!-- <ion-icon name="key-sharp"></ion-icon> -->
                    <i class="fa-solid fa-venus-double"></i>>
                  </span>
                  <input
                  type="text"
                  name="email address"
                  class="input"
                  id="emailaddress"
                  ng-model="gender"
                  required
                />
                </div>
              </div>

              <div class="input_wrap">
                <label for="password">Enter Student's Enrollment Number</label>
                <div class="input_item">
                  <span class="icon">
                    <!-- <ion-icon name="key-sharp"></ion-icon> -->
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <input
                  type="text"
                  name="email address"
                  class="input"
                  id="emailaddress"
                  ng-model="enrollmentNumber"
                  required
                />
                </div>
              </div>


              </div>
              <button type="submit" ng-click="studentRegister()">Register Now</button>
            </form>
          </div>
        </div>
      </div>
    </section>
<!-- 
    <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      searchBtn.addEventListener("click", () => {
        // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
        }
      }
    </script> -->
  </body>
</html>
