<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\coordinatorStyleSheet\studentmarks.css" / >
    <title>marks</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>Student Name</th>
       
          <th>Subject 1</th>
          <th>Subject 2</th>
          <th>Subject 3</th>
          <th>Subject 4</th>
          <th>Subject 5</th>
          <th>Total Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="marks in marksList">
          <td>{{ marks.student.name }}</td>
         
          <td>{{ marks.subject1.marksObtained }}</td>
          <td>{{ marks.subject2.marksObtained }}</td>
          <td>{{ marks.subject3.marksObtained }}</td>
          <td>{{ marks.subject4.marksObtained }}</td>
          <td>{{ marks.subject5.marksObtained }}</td>
          <td>{{ marks.subject1.marksObtained + marks.subject2.marksObtained + marks.subject3.marksObtained + marks.subject4.marksObtained + marks.subject5.marksObtained }}</td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>
